$colors: (
    'common': (
        'white': #fff,
        'black': #000,
    ),
    'grey': (
        '1':#595959,
        '2':#b6bcc6,
        '3':#f8f8f9,
        '4':#1d1d1f,
        '5':#a8a8a8,
    ),
    'theme': (
        'primary': #000,
    ),
    'border': (
        '1': rgba(0, 0, 0, 0.08),
    )
);



$white : #fff;
$black : #020626;
$theme-primary : #336EF9;
$border-primary : #F1F1F9;