@use '../../utils' as *;

/*----------------------------------------*/
/*  7.9 Hero css start
/*----------------------------------------*/

.#{$theme-prifix}-hero{
    &-spacing{
        padding-top: 185px;
        padding-bottom: 58px;
    }
    &-tittle{
        font-weight: 500;
        font-size: 55px;
        line-height: 118%;
        letter-spacing: -0.03em;
        color: var(--tp-common-black);
        @media #{$lg,$md,$sm,$xs}{
            font-size: 46px;
        }
        @media #{$xs}{
            font-size: 38px;
        }
        & span{
            color: var(--tp-grey-2);
        }
    }
    &-bigtext{
        line-height: 1;
        overflow: hidden;
        & h2{
            font-weight: 700;
            font-size: 460px;
            letter-spacing: -0.03em;
            color: var(--tp-common-black);
            position: relative;
            line-height: .9;
            margin-bottom: 0;
            @media #{$xl}{
                font-size: 390px;
            }
            @media #{$lg}{
                font-size: 320px;
            }
            @media #{$md,$sm,$xs}{
                font-size: 230px;
            }
            @media #{$sm,$xs}{
                font-size: 165px;
            }
            @media #{$xs}{
                font-size: 110px;
            }
            & .shape{
                font-size: 80px;
                position: absolute;
                right: 10px;
                top: 35px;
                @media #{$md,$sm,$xs}{
                    font-size: 50px;
                }
                @media #{$xs}{
                    top: 0;
                    font-size: 30px;
                }
                &-2{
                    & svg{
                        position: absolute;
                        top: 67px;
                        right: 35px;
                        @media #{$xl}{
                            top: 48px;
                            right: 22px;
                        }
                        @media #{$lg}{
                            top: 30px;
                            right: 12px;
                        }
                        @media #{$md,$sm,$xs}{
                            top: 0;
                            right: 0;
                            width: 80px;
                        }
                        @media #{$xs}{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &-cetagory{
        background: #f8f8f9;
        border-radius: 50px;
        margin-left: -40px;
        margin-right: -40px;
        margin-top: -120px;
        z-index: -1;
        position: relative;
        @media #{$lg,$md,$sm,$xs}{
            margin-top: 0;
            margin-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
        }
        & span{
            font-weight: 400;
            font-size: 16px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            flex: 0 0 auto;
            padding: 12px 0px;
            padding-right: 180px;
            @media #{$sm,$xs}{
                padding-right: 70px;
            }
        }
    }
    &-circle{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        inset: 0%;
        z-index: -2;
        &-2{
            margin-top: -150px;
        }
        .circle-1,
		.circle-2 {
            position: absolute;
            height: 100vmax;
            width: 100vmax;
            opacity: .5;
            object-fit: cover;
		}

		.circle-1 {
			-webkit-animation: zoom 20s infinite linear;
			animation: zoom 20s infinite linear;
		}

		.circle-2 {
			-webkit-animation: spinner 20s infinite linear;
			animation: spinner 20s infinite linear;
		}
    }
    &-video{
        border-radius: 20px;
        & video{
            width: 420px;
            height: 340px;
            object-fit: cover;
            border-radius: 20px;
            @media #{$md,$sm,$xs}{
                width: 100%;
            }
        }
    }
    &-2{
        &-tittle{
            font-weight: 500;
            font-size: 110px;
            line-height: 100%;
            letter-spacing: -0.03em;
            color: var(--tp-common-black);
            @media #{$xl}{
                font-size: 95px;
            }
            @media #{$lg,$md}{
                font-size: 70px;
            }
            @media #{$sm}{
                font-size: 50px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
            & span{
                color: var(--tp-grey-2);
            }
        }
        &-spacing{
            padding-top: 195px;
            padding-bottom: 70px;
            @media #{$lg,$md,$sm,$xs}{
                padding-top: 160px;
            }
        }
        &-video{
            & video{
                width: 100%;
                height: 272px;
            }
        }
    }
    &-3{
        &-thumb{
            & img{
                border-radius: 25px;
            }
        }
        &-tittle{
            font-weight: 500;
            font-size: 55px;
            line-height: 118%;
            letter-spacing: -0.03em;
            @media #{$xl,$lg,$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
            @media #{$md}{
                font-size: 50px;
            }
            @media #{$sm,$xs}{
                font-size: 40px;
            }
        }
        &-icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &-para{
            line-height: 162%;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            &-2{
                & p{
                    line-height: 162%;
                    letter-spacing: -0.02em;
                    color: var(--tp-common-black);
                    font-size: 18px;
                    @media #{$xl,$lg,$md,$sm,$xs}{
                        & br{
                            display: none;
                        }
                    } 
                }
            }
        }
        &-form{
            & .tp-input{
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 60px;
                width: 308px;
                height: 50px;
            }
        }
        &-shape{
            position: absolute;
            top: -95px;
            left: 0;
            width: 100%;
            z-index: -1;
        }
    }
}
